{%include 'base.html'%}
{% load bootstrap3 %}
{% block content %}
<body style=" background-image: url('https://media.istockphoto.com/photos/perfect-neighbourhood-picture-id532087451?k=20&m=532087451&s=170667a&w=0&h=sNpb71ViEJ1fA912ScxyFkOoYJWx3l_XZ9HhNDu_ohA=');
background-size: cover;
background-repeat:  no-repeat;
font-family: 'Comic Sans MS', cursive, sans-serif;">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">

    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 rgba-stylish-strong  p-4">
                <h3 class="text-center pt-4" style="font-family: 'Dancing Script', cursive; font-size: 40px;">ADD A NEW NEIGHBOURHOOD BELOW</h3>
                <form style="color:rgb(19, 18, 18);" action="" method="post" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button class="btn btn-primary btn-sm">Add Neighbourhood</button>
                </form><br>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</body>
{% endblock %}