{%include 'base.html'%}
{% load bootstrap3 %}
{% block content %}

<body style=" background-image: url('https://images.unsplash.com/photo-1495368427887-e88d33a44e0f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=735&q=80');
background-size: cover;
background-repeat:  no-repeat;
font-family: 'Comic Sans MS', cursive, sans-serif;">
 <link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">

    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8  rgba-stylish-strong p-4">
                <h3 class="text-center" style="font-family: 'Dancing Script', cursive; font-size: 40px; color: white;">POST A NOTICE TO THE NEIGHBOURHOOD</h3>
                <form action="" method="post" style="color: white;">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-sm btn-primary "> Post It!</button>
                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</body>
{% endblock %}