{% extends 'base.html' %}
{%block content%}
<style>
    #profile {
        width: 150px;
        height: 150px;
        overflow: hidden;
        border-radius: 50%;
    }
</style>
<style>
    #background3 {
        background-image: url('https://media.istockphoto.com/photos/perfect-neighbourhood-picture-id532087451?k=20&m=532087451&s=170667a&w=0&h=sNpb71ViEJ1fA912ScxyFkOoYJWx3l_XZ9HhNDu_ohA=');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
       
    }
</style>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">

<div class="container" id="background3">
    <div class="col-sm-6 m-auto ">
        <div class=" content-section container" style="padding-top: 100px;">
            <div class="media">
                <div class="col-sm-4">
                    <div id="profile" class="rounded-circle">
                        <img style="width: 120%; height: 120%;" src="{{user.profile_picture.url }}" alt="">
                    </div>
                </div>
                <hr>
                <div class="media-body">
                    <h2 style=" color: rgb(8, 7, 7); font-size: 50px; font-family: 'Dancing Script', cursive;">{{user.username}}</h2>
                    <p style=" color: rgb(26, 24, 24); font-size: 30px;font-family: 'Dancing Script', cursive;"> Location: {{neighbourhood.neighbourhood_location}}</p>
                    {% if request.user.profile.neighbourhood %}
                    <p style="color: rgb(17, 16, 16); font-size: 35px; font-weight: bold; font-family: 'Dancing Script', cursive;">My Hood <a class="btn btn-sm btn-success" href="">{{ user.profile.neighbourhood_name }}</a>
                    </p>
                    {% endif %}
                    <p style=" color: rgb(22, 21, 21);">{{user.profile.bio}}</p>
                    <hr>
                    <a href="">
                        <button class="btn btn-primary" style=" font-size: 15px; font-family: 'Dancing Script', cursive;">Edit Profile</button>
                    </a>

                </div>
            </div>
        </div>
    </div>

</div>
{%endblock content%}